/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

/***** GENERIC STYLES *************/
/**********************************/
body{
	background-color: #f0ede4;
	font-family: Times New Roman, serif;
}

img{

	margin: 0;
	padding: 0;
	display: block;
	max-width: 100%;
}

.button {
	color: white;
	text-decoration: none;
	font-weight: bold;

}

.button a:link{
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
}

.button a:visited{
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
}

.button a:hover{
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
}

.button a:active{
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
}

.site_nav nav {
    width: auto;
    height: auto;
    background: red;
    /*-webkit-transition: width 2s ease;  For Safari 3.1 to 6.0 */
    transition: height 2s ease-out;
}

.site_nav nav:active {
    height: 300px;
}


.site_nav ul{
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
	background: #ebeced;
}

.site_nav li{
	display: block;
	border-bottom: 1px solid grey;
	background: #ebeced;
	padding: 10px;
	color: #8c1b1a;
}

.site_nav a{
	display: block;
	text-decoration: none; 
	font-weight: bold;
}

.site_nav a:visited{
	color: #8c1b1a;
}

.site_nav a:hover{
	color:orange;
}

.site_nav a:active{
	color:#8c1b1a;
}

.site_nav.hidden{
	display: none;
}


.wrapper{
	width: 95%;
	margin: 0 auto;
}

.william{
	margin: 0 auto;
}

.banner{
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #af5017;
	text-align: center;
	font-style: italic;
	width: 100%;
	margin: 0 auto;
	height: 30%;
	margin-bottom: 20px;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;

}

.banner p{
	margin: 0 auto;
	font-size: large;
}



.main_img img{
	width: 100%;
	margin: 0 auto;
}

.membership{
	background-image: url(../img/pattern_1.jpg);
	background-size: auto 100%;
	height: 50px;
	font-family: sans-serif;
	position: relative;
	color: #af5017;
	margin: 90px 0 50px 0;
}

.membership a{
	display: block;
	width: 200px;
	margin: 0 auto;
	position: absolute;
	bottom: -5px;
	left: 0;
	right: 0;
	color: #af5017;

}

.logo{
	width: 95%;
}

.membership img{ 
	display: block;
	width: 100%;
}

.membership span{
	display: block;
	width: 160px;
	position: absolute;
	left: 17px;
	bottom: 28px;
	text-align: center;
}

footer{
	background-image: url(../img/pattern_2.jpg);
	background-repeat: repeat-x;
	color: white;
	text-align: center;
	background-size: contain;
}

.foot{
	background-image: url(../img/pattern_2.jpg);
	
}

.foot a{
	color: white;
	padding: 5px;
}

.foot p{
	padding-bottom: 0;
	padding-top: 10px;
}

.text{
	color: grey;
	font-style: italic;
	margin-bottom: 50px;
}

.submit{
	background-color: #8c1b1a;
	margin: 0 auto;
	border: none;
}

.email1{
	display: none;
}



header{
	background-color: #8c1b1a;
	color: white;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px; 
	width: 100%;
}

.sidebar{
	display: none;
}


.shows ul{
	list-style: none;
}


.shows h2{
	color: #8c1b1a;
	text-align: center;
}

.shows img {
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	margin: 0 auto;
	box-shadow: 2px 2px 3px #bcbab3;
	border: 2px solid white;
}


.shows a {
	background-color: #8c1b1a;
	color: white;
	text-decoration: none;
	padding: 10px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 1px;
	
}

/***** SPECIFIC STYLES ************/
/**********************************/

@media screen and (min-width: 680px){

header{
	display: none;
}

.sidebar {
	display: inline-block;
	width: 30%;
}

.sidebar ul{
	list-style: none;
	float: left;
	text-align: right;
	color: #850c0c;
	border-right: 1px solid grey;
	font-family: sans-serif;

}

.sidebar li:last-child{
	background-color: #f6f6f4;
	border: 1px solid grey;
	border-radius: 5px;
	font-weight: bold;
	padding: 10px;
	font-weight: bold;

} 

.main_img img{
	float: right;
	width: 68%;

}


.william {
	width: 30%;
	float: right;
}

.logo {
	width: 40%;
	float: left;
}


.shows ul{
	list-style: none;
	padding: 0px;
	width: 100%;
	text-align: center;


	
}

.shows li{
	width: 24%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	
}

.shows a{
	background-color: #f0ede4;
	color: #e60000;
	text-decoration: underline;
	text-align: left;
	margin: 0;
	padding: 0;
}

.shows img{
	clear: both;
}

.email{
	display: none;
}


.email1{
	display: block;
	padding: 0;
	clear: both;
	text-align: right;


}

.email1 p{
	display: inline-block;

}

.email1 span{
	display: block;
	width: 100%;
}

.email_form{
	display: inline-block;
	width: 25%;
	vertical-align: top;
	margin-top: 16px;
}

.sign{
	color: #8d1c1b;
	width: 15%;
	font-weight: bold;
	text-align: right;
	display: inline-block;
}

.cajole{
	font-style: italic;
	text-align: right;
	width: 15%;
	display: inline-block;
	
}


.text{
	color: grey;
	font-style: italic;
}

.submit{
	background-color: #8c1b1a;
	margin: 0 auto;
	color: white;
	text-decoration: none;
	border: none;
}



.ccb{
	text-align: left;
	float: left;
	width: 50%;
	padding-left: 10%

}

.links{
	text-align: left;
	float: right;
	width: 40%;
	margin: 0 auto;
	padding-top: 20px;
	vertical-align: top;


}

.membership a{
	display: block;
	width: 200px;
	position: absolute;
	bottom: -5px;
	left: 5%;
	color: #af5017;
	margin-left: 0%;

}

.membership{
	margin-top: 0;
}


	
}

